
body{
	margin: 0;
	background-image: -webkit-linear-gradient(65deg,#a683e3 50%,#e4e9fd 50%);
	background-repeat: no-repeat;
	background-size: cover;
    }

/* NAVBAR */
.navbar{
    position: relative;
    left:350px;
    background-color: #a683e3;
    width: 50%;
    height: 90px;
}
span{
    font-family: 'Raleway', sans-serif;
    font-size: 2.3rem;
    color:white;
}

.logo-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 40px;
    padding-bottom: 5px;
}
h1{
    font-family: 'Raleway', sans-serif;
    padding:0 0 7px 7px;
    text-decoration: underline;
    color: purple ;
}
.box{
	height: 500px;
	width: 90%;
	margin: 150px auto;
	display: flex;
	justify-content: left;
	align-items: center;
	box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.8);
}

input[type="text"]{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border:3px solid purple;
    display: block;
    margin-bottom: 20px;
    margin-left: 25px;

}
button{
	width: 30;
	height: 35px;
    background-color:  purple;
    cursor: pointer;
    display: block;
    margin-left: 30px;

}
form{
	text-align: center;
	margin-left: 10px;
}
button:hover{
	background-color: #a683e4;
	color: white;
	transition: all .3s;
}
button:active{
	background-color: grey;
	color: black;
}

@media only screen and  (max-width: 360px){
	.box{
		margin-top: 20px;
	}
	
}

@media only screen and  (max-width: 500px){
	.box{
		margin-top: 45px;
	}
	
}
@media (max-width: 1030px){
	.sample{
		visibility: hidden;
	}
}
.sample{
	height: 400px;
	width: 600px;
	position: absolute;
	right:100px;
	transform: rotate(15deg);

}

